// COLORS
$bmw-black: #4a4a4a;
$bmw-dark-grey: #696f73;
$bmw-light-grey: #cdcdcd;
$bmw-white: #ffffff;
$bmw-yellow: #fecd00;
$bmw-light-turq: #6ec2cd;
$bmw-mid-turq: #009eae;
$bmw-dark-turq: #004f58;

//FONT SIZES
$h1-desktop: 50px;
$h1-mobile: 36px;
//COMMON ELEMENT SIZES
