<!DOCTYPE html>
<html ng-app="bmwApp">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
  <script src="js/app.js"></script>
  <link rel="stylesheet" type="text/css" href="public/css/main.css">
  <title></title>
</head>

<body ng-controller="mainController" class="main-container">


  <nav class="navbar">
    <h6>OCEAN GROUP</h6>
    <div class="items">
      <a href="#"><img src="images/nav-1.png"></a>
      <a href="#"><img src="images/nav-2.png"></a>
    </div>
  </nav>

  <div class="hero">
    <div class="hero-content">
      <h1 class="exclusive">EXCLUSIVE</h1>
      <h1 class="yearend">YEAR END</h1>
      <h1 class="sale">SALE</h1>
      <p>ENDS SATURDAY 31 DECEMBER</p>
      <a ng-click="gotoBottom()" href="#" class="arrow"></a>
    </div>
    <div class="hero-image">
    </div>
  </div>

  <div class="container">
    <div class="form-container" ng-hide="submitform">
      <div class="form-header-text col-md-12">
        <h3>Complete the form below to secure <span>extra incentives, low monthly payments</span> and  <span>zero deposit on selected models</span> during this sale.</h3>
      </div>

      <div class="col-md-12">
        <form novalidate class="simple-form">
          <div class="row">
            <div class="col-lg-4 col-sm-12 form-row">
              <input class="form-input" type="text" ng-model="user.name" placeholder="Name" />
            </div>
            <div class="col-lg-4 col-sm-12 form-row">
              <input class="form-input" type="email" ng-model="user.email" placeholder="Email" />
            </div>
            <div class="col-lg-4 col-sm-12 form-row dropdown">
              <select class="form-input local dropdown-toggle" ng-model="user.location">
                  <option value="">Select your nearest centre</option>
                  <option ng-repeat="location in locations" value="{{locations.name}}">{{location.name}}</option>
                </select>
            </div>
          </div>

          <p>Please click on the vehicle you are interested in below:-</p>

          <div class="col-lg-12 col-md-12">
            <div class="row models">
              <div class="col-lg-3">
                <div class="choice">
                  <label>BMW 118i Sport </label><input type="radio" ng-model="user.preference" value="BMW 118i Sport " />
                </div>
                <div class="choice">
                  <label>BMW 420d Sport </label><input type="radio" ng-model="user.preference" value="BMW 420d Sport " />
                </div>
              </div>
              <div class="col-lg-3">
                <div class="choice">
                  <label>BMW 2 Series GT </label><input type="radio" ng-model="user.preference" value="BMW 2 Series GT " />
                </div>
                <div class="choice">
                  <label>BMW 520d M Sport </label><input type="radio" ng-model="user.preference" value="BMW 520d M Sport " />
                </div>
              </div>
              <div class="col-lg-3">
                <div class="choice">
                  <label>BMW 320d Sport </label><input type="radio" ng-model="user.preference" value="BMW 320d Sport " />
                </div>
                <div class="choice">
                  <label>Other </label><input type="radio" ng-model="user.preference" value="Other " />
                </div>
              </div>
            </div>
          </div>
          <input class="submit" type="submit" ng-click="update(user)" value="submit" />
      </div>
      </form>
    </div>


    <div class="submit-container" ng-show="submitmessage">
      <div class="col-lg-12 col-md-12">
        <h2>
            Thank you, <span>{{master.name}}</span>.<br>
            <br>
            You have chosen to receive information about <span>{{master.preference}}</span> models and events at your local centre.<br>
            <br>
            You will receive an email shortly.<br>
          </h2>
      </div>
    </div>

    <footer class="footer col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h2><span>www.</span>oceanbmw<span>.com</span></h2>
        </div>

        <div class="col-md-6 social">
          <div class="links"></div>
        </div>

        <div class="col-md-12">
          <div class="breakline"></div>
        </div>
        <div class="row address col-md-12">
          <div class="col-md-4">
            <h3>FALLMOUTH</h3>
            <h6>Falmouth Road, Penryn TR12 6LP</h6>
            <h4>01326 375100</h4>
          </div>
          <div class="col-md-4">
            <h3>TORBAY</h3>
            <h6>349 Totnes Road, Paignton TQ4 7DF</h6>
            <h4>01803 666666</h4>
          </div>
          <div class="col-md-4">
            <h3>PLYMOUTH</h3>
            <h6>St Modwen House, Longbridge Road Pl6 8LD</h6>
            <h4>01752 202828</h4>
          </div>
        </div>
        <div class="col-md-12">
          <p>Offers available to retail customers only. Terms and conditions apply. Offer may be varied, withdrawn or extended at any time. Images used for illustration purposes only. Prices correct at time of email distribution.</p>
        </div>
    </footer>
    </div>
  </div>
  <div id="bottom"></div>
</body>

</html>
