.main-container {
  background-image: url("/images/hero-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -67px; }
  .main-container .navbar {
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    .main-container .navbar h6 {
      font-weight: 700;
      letter-spacing: -1.5px;
      color: #343434;
      padding-right: 20px;
      padding-top: 3px; }
    .main-container .navbar .items img {
      width: 70px;
      margin-top: -10px;
      margin-left: -3px; }
  .main-container .hero-content {
    text-align: center;
    margin-top: 30px;
    height: 550px; }
    .main-container .hero-content .exclusive {
      color: #fecd00;
      letter-spacing: -3px;
      font-weight: 300;
      margin-bottom: 0;
      font-size: 60px;
      padding-bottom: 0;
      margin-top: 0; }
    .main-container .hero-content .yearend {
      color: #6ec2cd;
      letter-spacing: -1px;
      padding-left: 5px;
      font-weight: 700;
      margin-top: -12px;
      font-size: 58px; }
    .main-container .hero-content .sale {
      color: #ffffff;
      font-size: 118px;
      margin-top: -35px;
      font-weight: 700;
      letter-spacing: -3px; }
    .main-container .hero-content p {
      color: #ffffff;
      font-weight: 500;
      font-size: 18px;
      margin-top: -25px;
      letter-spacing: -0.4px;
      padding-left: 5px; }
    .main-container .hero-content .arrow {
      background-image: url("/images/arrow.png");
      left: 49.5%;
      position: absolute;
      height: 25px;
      width: 25px;
      background-repeat: no-repeat;
      background-size: contain;
      margin-top: -4px; }
  .main-container .container {
    max-width: 900px; }
    .main-container .container .form-container .form-header-text h3 {
      color: #004f58;
      font-weight: 700;
      font-size: 25px;
      margin-bottom: 30px;
      width: 95%; }
      .main-container .container .form-container .form-header-text h3 span {
        color: #009eae; }
    .main-container .container .form-container form .form-row {
      width: 100%;
      margin-right: -20px; }
      .main-container .container .form-container form .form-row .form-input {
        font-size: 14px;
        height: 30px;
        width: 100%;
        padding: 6px 10px;
        font-weight: 300;
        border: 1px solid #cdcdcd;
        background-color: #ffffff;
        border-radius: 1px; }
        .main-container .container .form-container form .form-row .form-input.local {
          color: #4a4a4a;
          font-size: 13px;
          font-weight: 400;
          background: linear-gradient(#ffffff, #cdcdcd); }
    .main-container .container .form-container form p {
      margin-top: 30px;
      margin-bottom: 1rem;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: -0.5px;
      color: #696f73; }
    .main-container .container .form-container form .model {
      margin-left: 12px; }
      .main-container .container .form-container form .model .model-row {
        margin-left: -20px; }
        .main-container .container .form-container form .model .model-row label {
          color: #696f73;
          font-size: 14px;
          font-weight: 400; }
        .main-container .container .form-container form .model .model-row input {
          float: right;
          height: 15px;
          width: 15px;
          padding-right: 50px;
          margin-top: 5px; }
    .main-container .container .form-container .submit {
      color: transparent;
      width: 120px;
      height: 35px;
      background-image: url(/images/submit-button.png);
      background-repeat: no-repeat;
      background-size: contain;
      margin-top: 20px;
      margin-bottom: 60px; }
    .main-container .container .submit-container h2 {
      color: #004f58;
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 30px;
      width: 60%; }
      .main-container .container .submit-container h2 span {
        color: #009eae; }
